[submodule "fei"]
	path = fei
	url = https://github.com/iAngelGuzman/fei.git
[submodule "poema"]
	path = poema
	url = https://github.com/iAngelGuzman/poema.git
[submodule "proyecto"]
	path = proyecto
	url = https://github.com/iAngelGuzman/proyecto.git
[submodule "ordinario-ftw"]
	path = ordinario-ftw
	url = https://github.com/iAngelGuzman/ordinario-ftw.git
